# Node
node_modules/
*.log
.env*

# Build output
build/
.docusaurus/

# Python
assistant_core/__pycache__/
assistant_core/.pytest_cache/
assistant_core/venv/
venv/

# Env files
.env
.vercel
.next

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/

